### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### JAVA ###
*.class
*.log
*.tmp

### Mac OS ###
.DS_Store

### SQLite ###
*.db
*.sqlite
*.sqlite3

### gradle ###
build/
.gradle/

### vim ###
*.swp
*.swo
*~
